img{
	width: 100%;
	height: 100%;
}
.bg-black{
	background-color: black;
}
.font-div{
	width: 30%;
}
.p{
	font-size: 15px;
}
/*////////// responsive/////*/

@media only screen and (min-width: 975px){
.m{ 
	padding: 50px 0px!important;
} 
 .font-div{
	padding: 100px 0px!important;
}
